@import "tailwindcss";

@theme {
  --color-primary: #8b0000;
  --color-secondary: #c9a66b;
  --color-background: #faf7f2;
  --color-card: #fff;
  --color-textdark: #2a2a2a;
  --color-textmuted: #6b6b6b;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary: #8b0000;
  --color-secondary: #c9a66b;
  --color-background: #faf7f2;
  --color-card: #fff;
  --color-textdark: #2a2a2a;
  --color-textmuted: #6b6b6b;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-textdark);
  border-radius: 5px;
}
